{# templates/_footer.html.twig #}
<footer class="mt-auto">
    <a href="{{ path('cgu') }}" class="text-center">Legal notices</a>
    <a href="{{ path('about') }}" class="text-center">CV 4 U for the Others</a>
    <a href="{{ path('contact') }}" class="text-center">Contact us</a>
</footer>